.env
data/raw/*.json
__pycache__/
*.pyc
.duckdb
*.duckdb
venv/
# Données brutes — trop lourdes pour GitHub
data/raw/
data/*.duckdb
data/*.zip

# Python
__pycache__/
*.pyc
.env
venv/
.venv/

# dbt
transform/finscope/target/
transform/finscope/dbt_packages/
data/raw/StockUniteLegale*
data/raw/sirene*
